<div class="jumbotron">
  <div class="container">
    <h3> Request confirmed </h3>
    <p><%= @space.name.capitalize %> has been booked from <%= @booking_request.date_from %> to <%= @booking_request.date_to %>.</p>
  </div>
</div>
