<div class="jumbotron">
  <div class="container">
    <h3>Booking request for <%= @space.name %></h3>
    <p>Request for: <%= @booking_request.date_from %> To: <%= @booking_request.date_to %></p>
  </div>
</div>
