<% if @requests %>
  <% @requests.each do |request| %>
     <%= @spaces.get(request.space_id).name%></a><br>
     <%= @spaces.get(request.space_id).price %><br>
     <%= @spaces.get(request.space_id).description %><br>
     <%= request.date_from %><br>
   <% end %>
<% else %>
<h2>You have no incoming requests</h2>
<% end %>
