<form action='/spaces' method='post'>
  <label>Name: </label><input type='text' name='name' required/>
  <label>Price per night: </label><input type='text' name='price' required/>
  <label>Description: </label><input type='text' name='description' required/>
  <input type='submit' value='Add space'/>
</form>
