<div class="jumbotron">
  <div class="container">

    <h3 class="description">Add Space or spaceship</h3>

    <div class="form-holder">
      <form action='/spaces' method='post'>
        <div class="form-group">
          <label>Name: </label>
          <input class="form-control" type='text' name='name' required/><br>
        </div>
        <div class="form-group">
          <label>Price per night: </label>
          <input class="form-control" type='text' name='price' required/><br>
        </div>
        <div class="form-group">
          <label>Description: </label>
          <input class="form-control" type='text' name='description' required/><br>
        </div>
        <div class="form-group">
          <label>Image Url: </label>
          <input class="form-control" type='text' name='image_url' required/><br>
        </div>
        <div class="form-group">
          <label>Available From: </label>
          <input class="form-control" type='date' name='available_from' min='<%= Date.today %>' required/><br>
        </div>
        <div class="form-group">
          <label>Available To: </label>
          <input class="form-control" type='date' name='available_to' require/><br>
        </div>
        <input class="btn btn-info" type='submit' value='Add space'/>
      </form>
    </div>
  </div>
</div>
