<div class="jumbotron">
  <div class="container">
    <h3>Sign in</h3>
    <form action='/users/new' method='post'>
      <label>Email: </label><input type='email' name='email' required/>
      <label>Password: </label><input type='password' name='password' required/>
      <input type='submit' value='Sign Up'/>
    </form>
  </div>
</div>
