<html>
  <head>
    <title>MakersBnB</title>
  </head>
<body>
  <% if flash %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if @current_user %>
  <h1>Welcome, <%= @current_user.email %></h1>
  <form action="/sessions/terminate" method="post">
    <input type="submit" value="Log Out">
  </form>
  <% end %>
  <%= yield %>
</body>
</html>
